<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="sukinee_ros2_control" params="use_mock_hardware hardware_plugin arm_command_interface gripper_command_interface">

    <ros2_control name="SukineeSystem" type="system">

    <hardware>
      <plugin>${hardware_plugin}</plugin>
      <xacro:if value="${use_mock_hardware}">
        <param name="mock_sensor_commands">false</param>
      </xacro:if>
    </hardware>

      <joint name="Joint1">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint2">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint3">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint4">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint5">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint6">
        <command_interface name="${arm_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="Joint7">
        <command_interface name="${gripper_command_interface}"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>


    </ros2_control>

  </xacro:macro>

</robot>